[flake8]
max-line-length = 120
# Вказуємо лінтеру повністю ігнорувати папки міграцій та системні файли
exclude = .git,__pycache__,*migrations*,venv,env,manage.py
# Ігноруємо зауваження про довжину рядків, якщо вони вписуються в ліміт 120
ignore = E501,F401,E402